<footer>
  <div class="text_footer">
    <h4>Síguenos en:</h4>
  </div>

  <div class="social-icons">
    <a href="https://www.facebook.com" target="_autoblank" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com" target="_autoblank" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.twitter.com" target="_autoblank" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.github.com" target="_autoblank" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-github"></i>
    </a>
  </div>

  <p>&copy; Red social - 2023. Todos los derechos reservados.</p>
</footer>