@import '~@fortawesome/fontawesome-free/css/all.min.css';


@font-face {
    font-family: "FiraCode.ttf";
    src: url("../src/assets/FiraCode.ttf") format("woff");
  }


  * {
    font-family: "FiraCode.ttf";
    
  }

